<div class="footer1">
  <%= image_tag "Starhome.png", class:"home" %>
  <div class="tab">
    home
  </div>
</div>
<div class="footer2">
  <%= image_tag "Painting.png", class:"input" %>
  <div class="tab">
  input
  </div>
</div>
<div class="footer3">
  <%= image_tag "Dochearth", class:"comment" %>
  <div class="tab">
  comment
  </div>
</div>
<div class="footer4">
  <%= image_tag "Tomato.png", class:"news" %>
  <div class="tab">
  news
  </div>
</div>