<div class="wrapper">
  <div class="header">
    <%= render "hedder" %>
  </div>
    
  <div class="statuses">
    <%= render "st_sleeping" %>
  </div>

  <div class="footer">
    <%= render "footer" %>
  </div>
</div>