.wrapper {
  background-color: white;
}
.header {
  background-color: #e29399;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  font-size: 50px;
  width: 300px;
}

/* .logo{
  width: 230px;
  height: 100px;
} */

.header-right{
  width: 400px;
  padding: 30px 30px 10px;
  display: flex;
  justify-content: space-around;
}

.log-in{
  width: 100px;
}

.log-out{
  width: 100px;
}

.statuses {
  height: calc(100vh - 200px);
}

.title{
  background-color: whitesmoke;
  height: 70px;
  display: flex;
  align-items: center;
}

.titlename{
  padding: 10px;
  margin: 10px 50px;
}

.footer {
  background-color: #e6c0c0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer1{
  background-color: whitesmoke;
  width: 200px;
}
.footer2{
  background-color: whitesmoke;
  width: 200px;
}
.footer3{
  background-color: whitesmoke;
  width: 200px;
}
.footer4{
  background-color: whitesmoke;
  width: 200px;
}